@font-face {
  font-family: 'Wagon';
  src: url('../font/Wagon-Regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'lunch';
  src: url('../font/lunchtype24-regular-expanded-webfont.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'lunchmed';
  src: url('../font/lunchtype24-medium-webfont.woff2') format('woff2');
  font-style: normal;
}


html, body {
  background: url(../img/back_green.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a, button, input, label {
  cursor: pointer;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  padding: 0px 0px; /* Add padding to the header */
}

.custom-cursor {
  cursor: url('../img/cursor.png'), auto;
}

.top-menu {
  display: flex;
  justify-content: space-between; 
  font-family: 'Wagon'; 
}

.menu-item {
  text-decoration: none;
  font-family: 'Wagon';
  font-size: 4vh;
  color: #7505ad;
  border: 1px solid #7505ad;
  padding-top: 3vh;
  padding-bottom: 3vh;
  flex: 1; 
  text-align: center; 
}

.menu-item:hover {
  background-color:  #68dc58;
  color: #7505ad;
}

.menu-item-active{
  color: #7505ad;
  background-color:  #68dc58;
  border: 1px solid #7505ad;
  text-decoration: none;
  font-family: 'Wagon';
  font-size: 4vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  flex: 1; 
  text-align: center;
}

footer {
  color: #7505ad;
  padding: 13px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  display: flex;
  padding-top: 60px;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 2;
  gap: 4vw;
}

footer a {
  color:#7505ad;
  z-index: 2;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-family: 'Wagon';
  color: #7505ad;

  font-weight: 100;
  margin-top:5vh;
  font-size: 5em;
  opacity: 0;
  animation: fadeIn 2s forwards; 
}

@keyframes fadeIn {
  to {
    opacity: 1; 
  }
}

p {
  font-size: 1.5em;
  font-family: 'lunch';
  line-height: 35px;
  margin-top:5vh;
  width: 80%;
  padding: 10px;
  color:#7505ad;
}


@keyframes pulse {
  0% {
      filter: blur(5px);
  }
  100% {
      filter: blur(10px);
  }
}

.accordion {
  border: 1px solid #7505ad;;
  width: 100%; /* Make accordion span the full width */
}

.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.title {
  flex: 1;
  font-family: 'Wagon';
  font-size: 8vh;
  padding: 20px;
  color: #7505ad;; 
}


img{
  width: 30%;
  padding-left: 20px
}



.accordion-sign {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 4vh;
  color: #7505ad;
}

.accordion-content {
  padding: 20px;
  line-height: 25px;
  display: none;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  color: #7505ad;
}
/*
.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: #129700;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2em;
  z-index: 3;
}

.scroll-to-top:hover {
  background: #fe9800;
}


