
@font-face {
	font-family: 'Wagon';
	src: url('../font/Wagon-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'lunch';
	src: url('../font/lunchtype24-regular-expanded-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'lunchmed';
  src: url('../font/lunchtype24-medium-webfont.woff2') format('woff2');
  font-style: normal;
}



html, body {
  background: url(../img/back_blau-02.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  padding: 0;

  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, button, input, label {
  cursor: pointer;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}



header {
  padding: 0px 0px; /* Add padding to the header */
}

.top-menu {
  display: flex;
  justify-content: space-between; 
  font-family: 'Wagon';/* Distribute menu items across the header */
}

.menu-item {
  text-decoration: none;
  font-family: 'Wagon';
  font-size:4vh;
  color: #1e00fe;
  border: 1px solid  #1e00fe;;
  padding-top: 3vh;
  padding-bottom: 3vh;
  flex: 1; /* Allow menu items to expand equally */
  text-align: center; /* Center the text */
}

.menu-item:hover {
  background-color:  #1e00fe;
  color: #f89c5b;
}

.menu-item-active{
  color: #fee000;
  background-color: #1e00fe;
  border: 1px solid #1e00fe;
  text-decoration: none;
  font-family: 'Wagon';
  font-size: 4vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  flex: 1; /* Allow menu items to expand equally */
  text-align: center; /* Center the text */
}


h3{
  font-size: 20vh;
  bottom: 0;
  font-family: 'Wagon';
  line-height: 20vh;
}

.förderlogos{
  width: 20%;
}

/*  Zine */
#zine{

  position: fixed;
  top: 50%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accordion {
  border: 1px solid #1e00fe;
}

.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.title {
  flex: 1;
  font-family: 'Wagon';
  font-size: 5vh;
  color:  #1e00fe;; 
}

.date {
  flex: 1;
  text-align: center;
  font-family: 'Wagon';
  font-size: 5vh;
  color:  #1e00fe;; 
}

.location {
  flex: 1;
  text-align: center;
  font-family: 'Wagon';
  font-size: 5vh;
  color:  #1e00fe;; 
}


.accordion-sign {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 4vh;
  color:  #1e00fe;
}

.accordion-content {

  margin-top: 4vh;
  margin-bottom: 4vh;
  margin-left: 15vw;
  margin-right: 15vw;
  padding-bottom: 5vh;
  display: none;
  color:  #1e00fe;
  font-size: 1.5em;
  font-family: 'lunch';
  line-height: 30px;


}



.mitwirkende {
  display: block;
  font-size: 1.5em;
  font-family: 'lunch';
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
 line-height: 5vh;


}


/* Footer */


footer{
color: #1e00fe;
padding: 20px;
position: fixed;
bottom: 0;
right: 0;
left: auto;
width: 100%;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.9em;
display: flex;
padding-top: 60px;
justify-content: flex-end;
align-items: flex-end;
gap: 4vw; 
z-index: 1;
}

footer a {
color:#1e00fe;
z-index: 2;
}




/* overlay */

h3{
  font-size: 25vh;
  position: absolute;
  bottom: 3vh;
  font-family: 'Wagon';
  font-weight: 100;
  line-height: 15vh;
  padding-left: 5vw;
  color: #ffffff;
}


#logo1{
  font-family:'lunch';
  font-weight: lighter;
  font-size: 7vw;
  padding-left: 23vw;
  line-height: 30px;
  bottom: 4vh;
  color: #ffffff;
}




#logo {
  padding-left: 9vw;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
  opacity: 0; /* Start invisible */
  animation: fadeIn 2s forwards, shimmerEffect 2s 1s infinite;


}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Shimmer effect */
@keyframes shimmerEffect {
  0% {
    text-shadow: 0 0 5px rgba(255, 235, 10, 0.5), 0 0 10px rgba(255, 255, 255, 0.3);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(233, 228, 141, 0.6);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.3);
  }
}
