@font-face {
  font-family: 'Wagon';
  src: url('../font/Wagon-Regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'lunch';
  src: url('../font/lunchtype24-regular-expanded-webfont.woff2') format('woff2');
  font-style: normal;
}


@font-face {
  font-family: 'lunchmed';
  src: url('../font/lunchtype24-medium-webfont.woff2') format('woff2');
  font-style: normal;
}


html, body {
  background: url(../img/back_blau.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a, button, input, label {
  cursor: pointer;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  padding: 0px 0px; /* Add padding to the header */
}

.custom-cursor {
  cursor: url('../img/cursor.png'), auto;
}

.top-menu {
  display: flex;
  justify-content: space-between; 
  font-family: 'Wagon'; /* Distribute menu items across the header */
}

.menu-item {
  text-decoration: none;
  font-family: 'Wagon';
  font-size: 4vh;
  color: #129700;
  border: 1px solid #129700;
  padding-top: 3vh;
  padding-bottom: 3vh;
  flex: 1; /* Allow menu items to expand equally */
  text-align: center; /* Center the text */
}

.menu-item-active{
  color:#129700;
  background-color: #ed965c;
  border: 1px solid #129700;
  text-decoration: none;
  font-family: 'Wagon';
  font-size: 4vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  flex: 1; /* Allow menu items to expand equally */
  text-align: center; /* Center the text */
}

.menu-item:hover {
  background-color: #129700; /* Hover background color */
  color: rgb(237, 150, 92);
}

footer {
  color:  #129700;
  padding: 13px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: auto;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  display: flex;
  padding-top: 60px;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 2;
  gap: 4vw;
}

footer a {
  color: #129700;
  z-index: 2;
}

.content-container {
  display: flex;
  flex-direction:row;
  column-gap: 4vw;
  align-items: flex-start;
  padding: 20px;
  margin-top: 10vh;
  width: 80%;
  margin: 0 auto;
}

.content-container h1
 {
  
  width: 50%;
  font-family: 'Lunch';
  font-weight: 100;
  color: #129700 ;
  line-height: 20px;
  padding: 2vh;
  padding-top: 20vh;
  font-size: 1em;
  opacity: 0; 
  animation: fadeIn 2s forwards; 
}

.content-container h2{
  font-family: 'Wagon';
  width: 50%;
  color:  #129700 ; 
  font-weight: 100;
  margin-top:5vh;
  font-size: 2em;
  opacity: 0;
  animation: fadeIn 2s forwards; 
}

.content-container h2 {
  animation-delay: 0.5s; /* Delay for h2 */
}

.content-container h1 {
  animation-delay: 1s; /* Delay for h1 */
}

@keyframes fadeIn {
  to {
    opacity: 1; /* Fully visible */
  }
}

.about {
  font-size: 1.5em;
  font-family: 'lunch';
  line-height: 26px;
  width: 80%;
  margin-top: 20px;
  padding: 10px;
  color: #129700;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  padding: 20px;
  margin-top: 10vh;
  width: 80%;
  margin: 0 auto;
  line-height: 35px; 
}


#overlay {
  background-color:#0bec61;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  position:fixed;
  right:0;
  top:0;
  transition:opacity .2s ease-in-out;
  z-index:1;
}

html.idle #overlay {
  opacity:.5;
  transition:opacity 2s ease-in-out;
}

h3{
  font-size: 25vh;
  position: absolute;
  bottom: 3vh;
  font-family: 'Wagon';
  font-weight: 100;
  line-height: 15vh;
  padding-left: 5vw;
  color: #ffffff;
}


#logo1{
  font-family:'lunch';
  font-weight: lighter;
  font-size: 7vw;
  padding-left: 23vw;
  line-height: 30px;
  bottom: 4vh;
  color: #ffffff;
}




#logo {
  padding-left: 9vw;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
  opacity: 0; /* Start invisible */
  animation: fadeIn 2s forwards, shimmerEffect 2s 1s infinite;


}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Shimmer effect */
@keyframes shimmerEffect {
  0% {
    text-shadow: 0 0 5px rgba(255, 235, 10, 0.5), 0 0 10px rgba(255, 255, 255, 0.3);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(233, 228, 141, 0.6);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.3);
  }
}


/* MOBILE MOBILE MOBILE MOBILE MOBILE */
@media only screen and (max-width: 768px) {
  .top-menu {
    flex-direction: row;
    align-items: center;
  }

  .menu-item, .menu-item-active {
    font-size: 3vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .content-container {
    flex-direction: column;
    width: 90%;
  }

  .content-container h1, .content-container h2 {
    width: 100%;
    font-size: 1.5em;
    padding-top: 5vh;
    text-align: center;
  }

  .about {
    font-size: 1.2em;
    line-height: 22px;
    padding: 10px;
  }

  h3 {
    font-size: 15vh;
    line-height: 10vh;
    padding-left: 2vw;
  }

  #logo1 {
    font-size: 5vw;
    padding-left: 10vw;
  }

  #logo {
    padding-left: 5vw;
  }
}