
@font-face {
	font-family: 'Wagon';
	src: url('../fonts/Wagon-ExtraLight.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'lunch';
	src: url('../fonts/lunchtype24-regular-expanded-webfont.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
}




html, body {
  background: url(../img/back_blau-02.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, button, input, label {
  cursor: pointer;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}



header {
  padding: 0px 0px; /* Add padding to the header */
}

.top-menu {
  display: flex;
  justify-content: space-between; 
  font-family: 'Wagon';/* Distribute menu items across the header */
}

.menu-item {
  text-decoration: none;
  font-family: 'Wagon';
  font-size:4vh;
  color: #1e00fe;
  border: 1px solid  #1e00fe;;
  padding-top: 3vh;
  padding-bottom: 3vh;
  flex: 1; /* Allow menu items to expand equally */
  text-align: center; /* Center the text */
}

.menu-item:hover {
  background-color:  #1e00fe;; /* Hover background color */
  color: #fee000;
}



h3{
  font-size: 20vh;
  bottom: 0;
  font-family: 'Wagon';
  line-height: 20vh;
}


#logo1{
  font-family: 'lunch';
  font-size: 10vh;


}


.accordion {
  border: 1px solid #1e00fe;;
}

.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.title {
  flex: 1;
  font-family: 'Wagon';
  font-size: 10vh;
  color:  #1e00fe;; 
}

.date {
  flex: 1;
  text-align: center;
  font-family: 'Wagon';
  font-size: 10vh;
  color:  #1e00fe;; 
}

.accordion-sign {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 4vh;
  color:  #1e00fe;
}

.accordion-content {

  margin: 4vh;
  padding: 5vh;
  padding-bottom: 5vh;
  display: none;
  font-size: 1em;
  color:  #1e00fe;
}


-----------------------------------

footer {

  color: #1e00fe;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer a {
  color:#1e00fe;
  text-decoration: none;
}
.flex-section {
  flex: 1;
}